<%# Hero section %>
<div>
  <div class="flex flex-col lg:flex-row items-center container min-h-screen">
    <div class="lg:w-1/2">
      <h1 class="font-bold text-4xl lg:text-6xl leading-tight mt-12 lg:mt-0">Welcome to Railsboost</h1>
      <p class="w-4/5 lg:w-3/5 text-lg text-gray-800">Start your next project with great default gems, icons, Stimulus controllers and Tailwind components right off the bat.</p>
      <%= link_to "Create a user", new_user_registration_path, class: 'btn btn-primary btn-large my-4' %>
    </div>
    <div class="lg:w-1/2">
      <img class="w-full object-cover rounded-lg" src="https://icdn2.digitaltrends.com/image/digitaltrends/falcon-heavy-test-flight-spacex-flickr-1220.jpg" alt="" srcset="">
    </div>
  </div>
</div>