<div class="text-center flex items-center flex-col my-8">
  <h1>Welcome to Railsboost</h1>
  <p class="w-3/5 mx-auto text-gray-800">Start your next project with great default gems, icons, Stimulus controllers and Tailwind components right off the bat.</p>
  <%= link_to "Create a user", new_user_registration_path, class: 'btn btn-primary btn-large my-4' %>
  <img class="w-full max-w-3xl object-cover rounded-lg" src="https://icdn2.digitaltrends.com/image/digitaltrends/falcon-heavy-test-flight-spacex-flickr-1220.jpg" alt="" srcset="">
</div>