.feather-3{
  @apply w-3 h-3;
}

.feather-4{
  @apply w-4 h-4;
}

.feather-6{
  @apply w-6 h-6;
}

.feather-8{
  @apply w-8 h-8;
}

.feather-10{
  @apply w-10 h-10;
}

.feather-12{
  @apply w-12 h-12;
}

.feather-16{
  @apply w-16 h-16;
}

.feather{
  // default behaviour is stroke-width: 2;
  &.font-light{
    stroke-width: 1;
  }
  &.font-semibold{
    stroke-width: 2.5;
  }
  &.font-bold{
    stroke-width: 3;
  }
}